:root {
    --cinza: #A2A2A2;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fonte-padrao: 'Raleway', sans-serif;
    --preto: #464646;
    --cor-de-fundo: #f5f5f5;
    --azul-claro-fundo: #EAF2FD;
}

.container {
    margin-left: 2em;
    margin-right: 2em;
}

body {
    font-family: var(--fonte-padrao);
}

main {
    background-color: var(--cor-de-fundo);
}

a {
    text-decoration: none;
}

.cabecalho {
    display: flex;
    align-items: center;
    height: 8rem;
    justify-content: space-between;
    margin: 0 2em;
}

.cabecalho__logo {
    display: inline;
    padding: 1em;
}

.botao-login {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    border: 1.2px solid var(--azul);
    color: var(--azul);
    box-sizing: border-box;
    padding: 1rem 3rem;
}

.busca__texto {
    display: none;
    padding: 1.5vw 4vw;
    border: none;
    background: none;
    margin-left: 1em;
    padding-right: 4em;
    background-image: url(../../assets/img/Icone-opaco.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;       
    border: transparent;
    border-radius: 5em;
    background-color: var(--cor-de-fundo);
}

.busca__botao {
    background-image: url(../img/Icone.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    padding: 0.5em 2em;
    background-color: var(--branco);
    border: none;
}

.caixa {
    
    background-image: url(../img/Hero.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    color: var(--branco);
    height: 30vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2em;
}

.conteudo-inicial {
    padding: 1em;
}

.conteudo-inicial p {
    margin-bottom: 0.5em;
}

.conteudo-inicial__botao {
    border: 1px solid var(--azul);
    display: inline-block;
    background-color: var(--azul);
    padding: 1em 2em 1em 1em;
}

.conteudo-inicial__titulo {
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: 700;
}

.conteudo-inicial p {
    font-size: 14px;
    font-weight: 600;
}

.conteudo-inicial a {
    color: var(--branco);
    font-size: 14px;
    font-weight: 600;
}

.produtos {
    margin-top: 1em;
}

.caixa-titulo {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
}

.produtos h3 {
    margin-left: 1em;
    font-size: 22px;
    font-weight: 700;
    color: var(--preto);
}

.produtos a {
    text-align: right;
    margin-right: 1.5em;
    color: var(--azul);
    font-size: 14px;
    font-weight: 700;
}

.produtos__caixa {
    display: grid;
    grid-template-columns: 50% 50%;
}

.produtos__caixa {
    margin-left: 1em;
}

.caixa-desktop {
    display: none;
}

.caixa__elementos {
    margin-bottom: 1em;
}

.caixa__elementos img, .caixa__elementos p {
    margin-bottom: 0.5em;
}

.caixa__elementos img {
    width: 43vw;
}

.produtos div section p:nth-child(2) {
    color: var(--preto);
    font-size: 14px;
    font-weight: 500;
}

.produtos div section p:nth-child(3) {
    color: var(--preto);
    font-size: 16px;
    font-weight: 700;
}

.rodape__container {
    text-align: center;
    margin-bottom: 1em;
}

.rodape__lista li {
    margin-top: 0.5em;
}

.rodape__lista li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--preto);
}

.rodape__legenda {
    font-weight: 700;
    font-size: 16px;
    color: var(--preto);

}

.rodape__formulario {
    margin-left: 1em;
    margin-top: 2em;
}

.rodape__formulario label {
    margin-top: 1em;
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: var(--cinza)
    
}

.input-nome-cliente {
    width: 91vw;
    background-color: #FFFFFF;
    margin-bottom: 1em;
}

#nome-cliente {
    border: none;
    width: 90vw;
}

.rodape__formulario textarea {
    border: none;
    width: 90vw;
    display: block;
    font-weight: 500;
    font-size: 14px;
    place-content: red;
}

.enviar {
    margin: 1em 0;
    padding: 1em;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--azul);
}

.rodape__paragrafo {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--preto);
}

footer {
    background-color: var(--azul-claro-fundo);
}

.rodape__container img {
    margin-top: 0.5em;
}

.rodape__texto {
    background-color: var(--branco);
    padding: 3em 0;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: flex-start;
        margin-right: 5vw;
    }

    .cabecalho__link {
        order: -3;
    }

    .conteudo-inicial__titulo {
        font-size: 52px;
    }

    .botao-login {
        margin-left: auto;
    }

    .cabecalho__busca {
        order: -1;
        margin-left: 1em;
        padding-right: 4em;
        background-image: url(../img/Icone-opaco.svg);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        
        border: transparent;
        border-radius: 5em;
        background-color: var(--cor-de-fundo);
    }
    
    .cabecalho__logo {
        order: -2;
        width: 150px;
    }

    .busca__texto {
        display: block;
        padding: 1.5vw 4vw;
        border: none;
        background: none;

    }
    .busca__botao {
        display:none;
    }

    .conteudo-inicial p {
        margin-bottom: 1em;
        font-weight: 700;
        font-size: 22px;
    }

    .caixa {
        height: 40vh;
        padding-left: 2em;
    }

    .caixa-media {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .caixa-tablet {
        margin: 0;
    }
    .produtos{
        margin-left: 2em;
    }
    .produtos a {
        font-size: 16px;
    }

    .caixa__elementos img {
        width: 20vw;
    }

    .rodape section {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .rodape__container {
        text-align: left;
        margin-left: 3em;
        margin-top: 1em;
    }

    .rodape__lista li {
        margin-bottom: 2em;
    }

    .input-nome-cliente {
        width: 55vw;
    }

    #nome-cliente {
        width: 54vw;
    }

    .rodape__formulario textarea {
        width: 55vw;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding-bottom: 5vw;
    }

    .cabecalho {
        margin-left: 5vw;
    }

    .cabecalho__logo {
        width: 200px;
    }

    .cabecalho__container-botao {
        padding: 2em 5em;
    }

    .busca__texto {
        padding: 1.3em 13em;
    }

    .botao-login {
        font-weight: 400;
        font-size: 16px;
        padding: 1.5em 7em;
    }

    .caixa {
        padding-left: 5vw;
        padding-right: 5vw;
        height: calc(60vh - 5rem - 5em);
        background-position-y:center;
    }

    .produtos {
        margin-top: 3vw;
        margin-left: 5vw;
        padding-bottom: 0;
    }

    .caixa-titulo a {
        margin-right: 5vw;
    }

    .caixa-desktop {
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .caixa-media {
        grid-template-columns: 32.3% 32.3% 32.3%;
    }

    .caixa__elementos img {
        width: auto;
    }

    .rodape {
        padding-top: 3em;
        
    }

    .rodape section {
        margin-left: 6.2vw;
        display: grid;
        grid-template-columns: 50% 20%;
    }

    .rodape__container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .input-nome-cliente {
        width: 40vw
    }

    .rodape__formulario textarea {
        width: 40vw;
    }
    
    #nome-cliente {
        width: 39vw;
    }
}






